*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
{
    height: 100%;
}

body 
{
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #F3F4F5;
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
}

h2, h3
{
    font-family: "Source Sans Pro", monospace;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1rem;
}

#overlay
{
    display: none;
    z-index: 99;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

#container 
{
    padding: .5rem 2rem;
    display: flex;
    flex-direction: column;
}

#row > #util-buttons
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#exit-button
{
    width: 25px;
    height: 25px;
    margin-left: 2rem;
}

#refresh-button
{
    width: 35px;
    height: 35px;
}

#container > #row
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#time, #date
{
    width: 100%;
}

#time
{
    font-size: 5rem;
}

#date
{
    font-size: 2.5rem;
}

#button-container 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    overflow-y: auto;
    height: 320px;
}

#button-container > button 
{
    padding: 2rem;
    font-size: 1.5rem;
    font-family: inherit;
    margin: .5rem 1rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #F3F4F5;
    color: #F3F4F5;
    width: 200px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 60px;
    height: 60px;
    max-height: 120px;
}

#button-container > button:hover
{
    background-color: #A0A0A0;
}
